@import "../../styles/responsive.scss";

.chartBox {
    color: black;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    @include sm{
        flex-direction: column;
    }

    .cantidad {
        font-size: 40px;
        font-weight: bold;
    }

    .title {
        display: flex;
        font-size: 20px;
        align-items: center;
        gap: 5px;

        @include xxl{
            font-size: 16px;
        }

        h1 {
            @include xxl {
                font-size: 15px;
            }
        }
    }

    .hidden-link {
        visibility: hidden;
    }
}