.marcar-salida.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.btn-salida-datatable:disabled {
    background-color: #8b8989; // o cualquier color que desees para indicar deshabilitado
    cursor: not-allowed;
}