@import "./responsive.scss";
@import "./variables.scss";
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  // color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
}

.container {
  display: flex;
  height: 799px;
  padding-left: 0rem;
  margin: 0px;

  @media (min-width: 1900px) {
    max-width: 1900px;
  }
  @include xxl{
    max-width: 1300px;
  }

}

.menuContainer {
  width: 300px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg {
    width: max-content;
  }

}

.contentContainer {
  width: 100%;
  padding: 5px 20px;
}