.contenedor {
  color: white;
}

.modal-body {
  align-self: center;
}
.img-thumbnail{
  height: -webkit-fill-available;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide{
  width: 12% !important;
  margin-right: 5px !important;
}

.formulario {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}

.h1formd {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.formulario select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulario select:hover {
  border-color: #007bff;
}

.formulario select:focus {
  outline: none;
  border-color: #007bff;
}