.card{
  --bs-card-spacer-x: 2rem;
}
input, select {
  padding: 6px 8px 6px 8px;
  border: 1px solid #ccc;
  color: black;
  border-radius: 4px;
  margin-bottom: 15px;
}

.react-autosuggest__container {
  position: relative;
}
.btn-danger{
  height: 38px;
  background-color: white;
  color: red;
}
.react-autosuggest__suggestions-list {
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: lightblue;
}
.p-4{
  display: flex;
  justify-content: space-evenly;
}
.card-header{
  padding: 20px;
}
.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   
    .h1formd {
      text-align: center;
    }
    
    .formulariopx {
  
      display: flex;
      justify-content: space-between;
      
      .campus  {
        width: 100%;
        margin-bottom: 15px;
  
        label {
          display: block;
          margin-bottom: 5px;
        }
        
        input, select {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          color: black;
          border-radius: 4px;
          margin-bottom: 15px;
        }

  
      }
      .campopersonal  {
        flex: 0 0 49%;
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;

        }
  
        input, select {
          color: black;
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-bottom: 15px;
        }
  
  
      }
  
      .columnaPersonal {
        flex: 0 0 49%;
        margin-bottom: 15px;
        gap: 5px;
        label { 
          display: block;
          margin-bottom: 5px;
          
        }
        
        input, select {
          color: black;
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-bottom: 15px;
        }
      }
    }
    .div-btn-container{
        width: 100%;
        display: flex;
        justify-content: center
    }
    .btn {
      // width: 100%;
      width: 200px;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #2059d3;
      color: white;
      cursor: pointer;
      
      &:hover {
        background-color: #2980f1;
      }
    }
    .btn-limpiar{
      width: 30px;
      height: 30px;
      display: flex;
    }

  }
  